header{
  margin:0px;
  height:800px;
  width:1000px;
  background-color:#000000;
}

body{
  margin:0px;
  height:1200px;
  width:inherit;
}

#picture{
    height:500px;
    width:inherit;
}

#text1{
    margin:30%;
    height:250px;
    width:inherit;
    text-align:center;
}

#text2{
    margin:25%;
    height:200px;
    width:inherit;
    text-align:center;
}

footer{
  margin:0px;
  height:700px;
  width:inherit;
}
