header{
  margin:0px;
  height:300px;
  width:auto;
  background-color:#000000;
}

body{
  margin:0px;
  height:1200px;
  width:inherit;
}

#picture1{
    height:200px;
    width:inherit;
    float:center;
}

#picture2{
    height:200px;
    width:inherit;
    float:center;

#text1{
    margin:30%;
    height:250px;
    width:inherit;
    text-align:center;
}

#text2{
    margin:25%;
    height:200px;
    width:inherit;
    text-align:center;
    text-decoration-color:#FFFFFF;
}

footer{
  margin:0px;
  height:300px;
  width:auto;
}
